<h1>Chronotron</h1>
<div class="intro">
	<button id="modalbtn">Wait, what is this?</button>
</div>
<div class="time">
	How much time would you like to waste?
	<%= form_tag('/', method: "post") do%>
		<%= radio_button_tag(:time_limit, "5") %>
		<%= label_tag(:time_limit_5, "5 min") %>
		<%= radio_button_tag(:time_limit, "20") %>
		<%= label_tag(:time_limit_20, "20 min") %>
		<%= radio_button_tag(:time_limit, "40") %>
		<%= label_tag(:time_limit_40, "40 min") %>
		<%= radio_button_tag(:time_limit, "60") %>
		<%= label_tag(:time_limit_60, "1 hr") %>
		<%= radio_button_tag(:time_limit, "120") %>
		<%= label_tag(:time_limit_120, "2+ hrs") %>
		<br>
		<%= submit_tag("Submit") %>
	<%end%>

	<%if ($time) %>
		<p>You have <%=$time%> minutes to spare.</p>
		<p>Now choose a category below:</p>
	<%end%>
</div>
<div class="choices">
	<div class="choice">
		<img src="/images/video.png">
		<a href="/you_tube_controller/search">Videos</a>
		<p>Dropdown here</p>
	</div>
	<div class="choice">
		<img src="/images/trivia.png">
		<a href="/trivia">Trivia</a>
		<p>Dropdown here</p>
	</div>
	<div class="choice">
		<img src="/images/music.png">
		<%= link_to 'Music', '/auth/spotify' %>
		<p>Dropdown here</p>
	</div>
	<div class="choice">
		<img class="trail-icon" src="/images/hike.png">
		<a href="/trail">Trails</a>
		<p>Dropdown here</p>
	</div>
</div>
<div id="hpmodal" class="modal">
	<div class="modal-content">
		<img src="/images/robot.png">
		<p>Chronotron helps you do something semi-productive with the extra time in your day instead of refreshing your FacePage repeatedly.</p>
		<p>To get started, choose the amount of time you have to waste. Then select how you'd like to spend that time. You'll be taken to a page with content that will help you fill that time, and you'll also be given suggestions for related content you might enjoy.</p>
		<span class="close">&times;</span>
	</div>
</div>
