<h1>Chronotron</h1>
<div class="intro">
	<button id="modalbtn">Wait, what is this?</button>
</div>
<div class="time">
	How much time would you like to waste?
	<%= form_tag('/', method: "post") do%>
		<%= radio_button_tag(:time_limit, "5") %>
		<%= label_tag(:time_limit_5, "5 min") %>
		<%= radio_button_tag(:time_limit, "20") %>
		<%= label_tag(:time_limit_20, "20 mintue") %>
		<%= radio_button_tag(:time_limit, "40") %>
		<%= label_tag(:time_limit_40, "40 mintue") %>
		<%= radio_button_tag(:time_limit, "60") %>
		<%= label_tag(:time_limit_60, "1 hour") %>
		<%= radio_button_tag(:time_limit, "120") %>
		<%= label_tag(:time_limit_120, "2+ hours") %>
		<%= submit_tag("Choose your time wisely") %>
	<%end%>

	<%if ($time) %>
		<p>You have <%=$time%> minutes to spare.</p>
		<p>Now choose your category!</p>
	<%end%>
</div>
<div class="choices">
	<div class="choice">
		<img src="/images/video.png">
		<a href="/you_tube_controller/search">Videos</a>
	</div>
		<div class="choice">
		<img src="/images/trivia.png">
		<a href="/trivia">Trivia</a>
	</div>
	<div class="choice">
		<img src="/images/music.png">
		<%= link_to 'Music', '/auth/spotify' %>
		<%=form_tag('/', method: "post") do %>
		<%=select_tag(:genre, options_for_select([["acoustic", "acoustic"], ["afrobeat", "acoustic"], ["alt-rock", "alt-rock"], ["alternative", "alternative"], ["ambient", "ambient"], ["anime", "anime"], ["black-metal", "black-metal"], ["bluegrass", "bluegrass"], ["blues", "blues"], ["bossanova", "bossanova"], ["brazil", "brazil"], ["breakbeat", "breakbeat"], ["british", "british"], ["cantopop", "cantopop"], ["chicago-house", "chicago-house"], ["children", "children"], ["chill", "chill"], ["classical", "classical"], ["club","club"], ["comedy", "comedy"], ["country", "country"], ["dance", "dance"], ["dancehall", "dancehall"], ["death-metal", "death-metal"], ["deep-house", "deep-house"], ["detroit-techno", "detroit-techno"], ["disco", "disco"], ["disney", "disney"], ["drum-and-bass", "drum-and-bass"], ["dub", "dub"], ["dubstep", "dubstep"], ["edm", "edm"], ["electro", "electro"], ["electronic", "electronic"], ["emo", "emo"], ["folk", "folk"], ["forro", "forro"], ["french", "french"], ["funk", "funk"], ["garage", "garage"], ["german", "german"], ["gospel", "gospel"], ["goth", "goth"], ["grindcore", "grindcore"], ["groove", "groove"], ["grunge", "grunge"], ["guitar","guitar"], ["happy", "happy"], ["hard-rock", "hard-rock"], ["hardcore", "hardcore"], ["hardstyle", "hardstyle"], ["heavy-metal", "heavy-metal"], ["hip-hop", "hip-hop"], ["holidays","holidays"], ["honky-tonk", "honky-tonk"], ["house", "house"], ["idm", "idm"], ["indian", "indian"], ["indie", "indie"], ["indie-pop", "indie-pop"], ["industrial", "industrial"], ["iranian", "iranian"], ["j-dance", "j-dance"], ["j-idol", "j-idol"], ["j-pop", "j-pop"], ["j-rock", "j-rock"], ["jazz", "jazz"], ["k-pop", "k-pop"], ["kids","kids"], ["latin", "latin"], ["latino", "latino"], ["malay", "malay"], ["mandopop", "mandopop"], ["metal", "metal"], ["metal-misc", "metal-misc"], ["metalcore","metalcore"], ["minimal-techno", "minimal-techno"], ["movies", "movies"], ["mpb","mpb"], ["new-age", "new-age"], ["new-release","new-release"], ["opera","opera"], ["pagode","pagode"], ["party","party"], ["philippines-opm","philippines-opm"], ["piano", "piano"], ["pop", "pop"], ["pop-film","pop-film"], ["post-dubstep","post-dubstep"], ["power-pop", "power-pop"], ["progressive-house","progressive-house"], ["psych-rock","psych-rock"], ["punk","punk"], ["punk-rock", "punk-rock"], ["r-n-b","r-n-b"], ["rainy-day","rainy-day"], ["reggae","reggae"], ["reggaeton","reggaeton"], ["road-trip","road-trip"], ["rock","rock"], ["rock-n-roll", "rock-n-roll"], ["rockabilly","rockabilly"], ["romance", "romance"], ["sad", "sad"], ["salsa","salsa"], ["samba","samba"], ["sertanejo","sertanejo"], ["show-tunes","show-tunes"], ["singer-songwriter", "singer-songwriter"], ["ska","ska"], ["sleep","sleep"], ["songwriter", "songwriter"], ["soul", "soul"], ["soundtracks", "soundtracks"], ["spanish", "spanish"], ["study", "study"], ["summer", "summer"], ["swedish", "swedish"], ["synth-pop", "synth-pop"], ["tango","tango"], ["techno","techno"], ["trance", "trance"], ["trip-hop","trip-hop"], ["turkish","turkish"], ["work-out", "work-out"], ["world-music","world-music"]])) %>
			<%=submit_tag("pick genre")%>
			<%end%>
	</div>
	<div class="choice">
		<img class="trail-icon" src="/images/hike.png">
		<a href="/trail">Trails</a>
	</div>
</div>
<div id="hpmodal" class="modal">
	<div class="modal-content">
		<img src="/images/robot.png">
		<p>Chronotron helps you do something semi-productive with the extra time in your day instead of refreshing your FacePage repeatedly.</p>
		<p>To get started, choose the amount of time you have to waste. Then select how you'd like to spend that time. You'll be taken to a page with content that will help you fill that time, and you'll also be given suggestions for related content you might enjoy.</p>
		<span class="close">&times;</span>
	</div>
</div>
