<div class="intro">
	<button id="modalbtn">Wait, what is this?</button>
</div>
<h1>Chronotron</h1>
<div class="time">
	<h3>Hi there! How much time would you like to waste?</h3>
	<div class="time-choices">
	<%= form_tag('/', method: "post", :class => "home-form") do%>
		<%= radio_button_tag(:time_limit, "5",  false, required: true) %>
		<%= label_tag(:time_limit_5, "5 min") %>
		<%= radio_button_tag(:time_limit, "20",  false, required: true) %>
		<%= label_tag(:time_limit_20, "20 min") %>
		<%= radio_button_tag(:time_limit, "40",  false, required: true) %>
		<%= label_tag(:time_limit_40, "40 min") %>
		<%= radio_button_tag(:time_limit, "60",  true, required: true) %>
		<%= label_tag(:time_limit_60, "1 hour") %>
		<%= radio_button_tag(:time_limit, "120",  false, required: true) %>
		<%= label_tag(:time_limit_120, "2 hours") %>
		<%= radio_button_tag(:time_limit, "300", false, required: true) %>
		<%= label_tag(:time_limit_300, "5+ hours") %>
		<!-- THE TIME DIV NEEDS TO HAVE THE CHOICES DIV WITHIN IT TO CLOSE THE FORM PROPERLY. SK-->
	<h3 class="choice-header">And what would you like to do?</h3>
	<div class="choices">
		<div class="choice">
			<h3>Watch YouTube</h3>
			<img src="/images/video.png">
			<p class="search-params terms">
				Search for: <%=text_field_tag(:video_query, nil, :placeholder=> "Be specific!") %></p>
			<p class="search-params">
				Length of Videos: <%= select_tag(:length, options_for_select([['short', 'short'], ['medium', 'medium'], ['long', 'long']]), :class=> 'dropdown' )%>
      	Number of Videos: <%= number_field_tag(:numberVideos, 5, min: 5, max: 50, :class=> 'numform') %>
      </p>
			<%=submit_tag "Let's Watch!", name: 'videos', :class => 'pick-cat' %>
		</div>
		<div class="choice">
			<h3>Play Trivia</h3>
			<img src="/images/trivia.png">
			<p class="search-params">
			Trivia Category: <%=select_tag(:categories, options_for_select($categories), :class=> 'dropdown' )%>
			Level of Difficulty: <%=select_tag(:difficulties, options_for_select($difficulties), :class=> 'dropdown' )%></p>
			<%=submit_tag "Let's Play!", name: 'trivia', :class => 'pick-cat' %>
		</div>
		<div class="choice">
			<h3>Listen to Music</h3>
			<img src="/images/music.png">
			<p class="search-params">
			Playlist Genre: <%=select_tag(:genre, options_for_select($genres), :class=> 'dropdown' ) %></p>
			<%=submit_tag "Let's Jam!", name: 'music', :class => 'pick-cat' %>
		</div>
		<div class="choice">
			<h3>Visit a Park or Trail</h3>
			<img class="trail-icon" src="/images/hike.png">
			<p class="search-params terms">Starting Location: <%=text_field_tag(:location, nil, :placeholder=> "Current Zip Code") %></p>
			<p class="search-params">Mode of Transportation: <%=select_tag(:mode, options_for_select($modes), :class=> 'dropdown' )%></p>
			<%=submit_tag "Let's Go!", name: 'trails', :class => 'pick-cat' %>
		</div>
	</div>
	<%end%>
	</div>
</div>

<div id="hpmodal" class="modal">
	<div class="modal-content">
		<img src="/images/robot.png">
		<p>Chronotron helps you do something semi-productive with the extra time in your day instead of refreshing your FacePage repeatedly.</p>
		<p>To get started, choose the amount of time you have to waste. Then select how you'd like to spend that time. You'll be taken to a page with content that will help you fill that time, and you'll also be given suggestions for related content you might enjoy.</p>
		<span class="close">&times;</span>
	</div>
</div>
