<h1>Chronotron</h1>
<div class="intro">
	<button id="modalbtn">Wait, what is this?</button>
</div>
<div class="time">
	How much time would you like to waste?
	<%= form_tag('/', method: "post") do%>
		<%= radio_button_tag(:time_limit, "5") %>
		<%= label_tag(:time_limit_5, "5 min") %>
		<%= radio_button_tag(:time_limit, "20") %>
		<%= label_tag(:time_limit_20, "20 min") %>
		<%= radio_button_tag(:time_limit, "40") %>
		<%= label_tag(:time_limit_40, "40 min") %>
		<%= radio_button_tag(:time_limit, "60", true) %>
		<%= label_tag(:time_limit_60, "1 hr") %>
		<%= radio_button_tag(:time_limit, "120") %>
		<%= label_tag(:time_limit_120, "2+ hours") %>

</div>
<div class="choices">
	<div class="choice">
		<img src="/images/video.png">
		<p>Videos</p>
		<p>Dropdown/input here</p>
		<%=submit_tag "pick videos", name: 'videos'%>
	</div>
	<div class="choice">
		<img src="/images/trivia.png">
		<p>Trivia</p>
		<p>Dropdown/input here</p>
		<%=submit_tag "pick trivia", name: 'trivia'%>
	</div>
	<div class="choice">
		<img src="/images/music.png">
		<p>Music</p>
		<%=select_tag(:genre, options_for_select(@genres)) %>
		<%=submit_tag "choose genre", name: 'music'%>
	</div>
	<div class="choice">
		<img class="trail-icon" src="/images/hike.png">
		<p>Trails</p>
		<p>Dropdown/input here</p>
		<%=submit_tag "pick trails", name: 'trails'%>
	</div>
	<%end%>
</div>
<div id="hpmodal" class="modal">
	<div class="modal-content">
		<img src="/images/robot.png">
		<p>Chronotron helps you do something semi-productive with the extra time in your day instead of refreshing your FacePage repeatedly.</p>
		<p>To get started, choose the amount of time you have to waste. Then select how you'd like to spend that time. You'll be taken to a page with content that will help you fill that time, and you'll also be given suggestions for related content you might enjoy.</p>
		<span class="close">&times;</span>
	</div>
</div>
