<div class="category video">
  <div class="search">
    <h2 class="video-color">Search Youtube</h2>
    <%= @data %>
    <%= form_tag("/you_tube_controller/search", method: "post") do %>
      <%= label_tag(:keyWord, "Search Youtube") %>
      <%= text_field_tag(:keyWord) %>
   	  <%= label_tag(:time, "Video Length:") %>
      <%= select_tag(:time, options_for_select([['short', 'short'], ['medium', 'medium'], ['long', 'long']]))%>
  	  <%= label_tag(:numberVideos, "how many?") %>
      <%= text_field_tag(:numberVideos) %>
      <%= submit_tag("Search") %>
    <% end %>
  </div>
  <div class="videos-back">
    <% for link in $videos do %>
    <div>
      <iframe id="ytplayer" type="text/html" width="600" height="360" src="https://www.youtube.com/embed/<%=link%>?autoplay=0&origin=http://example.com" frameborder="0">
      </iframe>
    </div>
    <%end%>
  </div>
</div>
