<h1>YouTubeController#search</h1>
<h1>Search Youtube</h1>

<%= form_tag("/you_tube_controller/search", method: "post") do %>
  <%= label_tag(:keyWord, "Search Youtube") %>
  <%= text_field_tag(:keyWord) %>
  <%= submit_tag("Search") %>
<% end %>

<%= @data %>

<iframe src='https://www.youtube.com/embed/eq--uvbjoxW3LMk?rel=0&autoplay=<%= params[:autoplay] || 0 %>' frameborder='0' allowfullscreen></iframe>
