<div class="hikes-loaded">FFFF</div>
<%for i in (0...@loops)%>
	<%if $hikes[i]['distance'] and $hikes[i]['duration']['text'].sub(/\D+/, '').to_i + $hikes[i]['activities'][0]['length'].to_i/3.1*60 <= $time.to_i%>
		Name: <span><%=$hikes[i]['name']%></span>
		<br>
		Description: <span><%=$hikes[i]['activities'][0]['description']%></span>
		<br>
		length of hike: <span><%=$hikes[i]['activities'][0]['length']%></span>
		<br>
		Estimated time for hike: <span><%=$hikes[i]['activities'][0]['length'].to_i/3.1*60.round%> minutes</span>
		<br>
		distance to hike: <span><%=$hikes[i]['distance']['text']%></span>
		<br>
		time to get to hike: <span><%=$hikes[i]['duration']['text'].sub(/\D+/, '').to_i%> minutes</span>
		<br>
		address of hike: <span><%=$hikes[i]['end_address']%></span>
		<br>
		Total event time: <span><%=($hikes[i]['duration']['text'].sub(/\D+/, '').to_i + $hikes[i]['activities'][0]['length'].to_i/3.1*60).round %>minutes</span>
		<hr>
	<%end%>
<%end%>
