<div class="navbar">
  <img src="/images/robot.png">
  <h3><a href="/">&#8592;<br>Return to <br>homepage</a></h3>
  <div class="time-selected">
    <p class="chosen">You chose to spend <span class="nav-value"><%=$time%></span> minutes on <span class="nav-value" id="currentCategory"><%=$choice%></span>.<br>
    <%if $choice == "music"%>
      You're currently listening to <span class="nav-value"><%=$genre%></span> music.</p>
    <%elsif $choice == "videos"%>
      You're watching <span class="nav-value"><%=$video_search%></span> videos.</p>
    <%elsif $choice == "trivia"%>
      You're answering <span class="nav-value"><%=$trivia_category%></span> trivia questions.</p>
    <%elsif $choice == "trails"%>
      Your recreation starting location is <span class="nav-value"><%=$location%></span>.</p>
    <%end%>
    <h3 class="change-header">Change it Up</h3>
    <p>Switch categories to:</p>
      <button id="first-option" class="choice-buttons"></button>
      <button id="second-option" class="choice-buttons"></button>
      <button id="third-option" class="choice-buttons"></button>
    <p class="time-change">Change time:</p>
     <%= form_tag('/', method: "post", :class => "home-form") do%>
          <%= radio_button_tag(:time_limit, "5", false, required: true) %>
          <%= label_tag(:time_limit_5, "5 min") %><br>
          <%= radio_button_tag(:time_limit, "20", false, required: true ) %>
          <%= label_tag(:time_limit_20, "20 min") %><br>
          <%= radio_button_tag(:time_limit, "40",  false, required: true) %>
          <%= label_tag(:time_limit_40, "40 min") %><br>
          <%= radio_button_tag(:time_limit, "60",  true, required: true) %>
          <%= label_tag(:time_limit_60, "1 hour") %><br>
          <%= radio_button_tag(:time_limit, "120",  false, required: true) %>
          <%= label_tag(:time_limit_120, "2 hours") %><br>
          <%= radio_button_tag(:time_limit, "300",  false, required: true) %>
          <%= label_tag(:time_limit_300, "5+ hours") %>
  </div>
  <div class="home-search-choice">
        <div class="cat-swap">
          <div id="music">
            <p>Change music genre:
            <%=select_tag(:genre, options_for_select($genres), :class=>'dropdown') %></p>
            <%=submit_tag "Make a Change", name: 'music', :class=>'change-button'%>
          </div>
          <div id="videos">
            <p class="new-vid-title">Change your search:</p>
            <%= text_field_tag(:video_query, nil, :placeholder=> "Be specific!", :class=>'new-vid') %>
            Video length:<%= select_tag(:length, options_for_select([['short', 'short'], ['medium', 'medium'], ['long', 'long']]), :class=>'dropdown')%>
            How many videos? <%= number_field_tag(:numberVideos, 5, min: 5, max: 50, :class=>'new-vid-num') %>
            <%=submit_tag "Make a Change", name: 'videos', :class=>'change-button'%>
          </div>
          <div id="trivia">
            <p>New trivia category:
            <%=select_tag(:categories, options_for_select($categories), :class=>'dropdown')%>
            Difficulty: <%=select_tag(:difficulties, options_for_select($difficulties), :class=>'dropdown')%>
            <%=submit_tag "Make a Change", name: 'trivia', :class=>'change-button'%>
          </div>
          <div id="trails">
            Where are you? <%=text_field_tag(:location, nil, :placeholder=> "Enter a Zip Code", :class=>'new-vid') %>
            How will you get there? <%=select_tag(:mode, options_for_select($modes), :class=>'dropdown')%>
            <%=submit_tag "Make a Change", name: 'trails', :class=>'change-button'%>
          </div>
    </div>
  <%end%>
  </div>
</div>
