<div class="navbar">
  <img src="/images/robot.png">
  <h3><a href="/">&#8592;<br>Return to <br>homepage</a></h3>
  <div class="time-selected">
    <p class="chosen">You chose to spend <span class="nav-value"><%=$time%></span> minutes on <span class="nav-value"><%=$choice%></span>.</p>
    <p class="change">Want to switch it up?</p>
    <p>Choose a new length of time:</p>
     <%= form_tag('/', method: "post", :class => "home-form") do%>
          <%= radio_button_tag(:time_limit, "5", false, required: true) %>
          <%= label_tag(:time_limit_5, "5 min") %><br>
          <%= radio_button_tag(:time_limit, "20", false, required: true ) %>
          <%= label_tag(:time_limit_20, "20 min") %><br>
          <%= radio_button_tag(:time_limit, "40",  false, required: true) %>
          <%= label_tag(:time_limit_40, "40 min") %><br>
          <%= radio_button_tag(:time_limit, "60",  false, required: true) %>
          <%= label_tag(:time_limit_60, "1 hr") %><br>
          <%= radio_button_tag(:time_limit, "120",  false, required: true) %>
          <%= label_tag(:time_limit_120, "2 hours") %><br>
          <%= radio_button_tag(:time_limit, "300",  false, required: true) %>
          <%= label_tag(:time_limit_300, "5+ hours") %>
  </div>
  <div class="home-search-choice">
    <p>
    <%if $choice == "music"%>
      <p>You're currently listening to <span class="nav-value"><%=$genre%></span> music.</p>
      <p>Choose a new genre:
      <%=select_tag(:genre, options_for_select($genres)) %></p><br><br>
      <%=submit_tag "I'm Ready for Change", name: 'music'%>
    <%elsif $choice == "videos"%>
      <p>You're watching <span class="nav-value"><%=$video_search%></span> videos.</p>
      <p>Choose a new video search:</p>
      <%=text_field_tag(:video_query, nil, :placeholder=> "search for videos") %>
      <%= select_tag(:length, options_for_select([['short', 'short'], ['medium', 'medium'], ['long', 'long']]))%>
      <%= text_field_tag(:numberVideos, nil,:placeholder=> "Number of Videos", :required=> true) %><br><br>
      <%=submit_tag "I'm Ready for Change", name: 'videos'%>
    <%elsif $choice == "trivia"%>
      <p>You're answering <span class="nav-value"><%=$trivia_category%></span> trivia questions.</p>
      <p>Choose a new trivia category:
      <%=select_tag(:categories, options_for_select($categories))%></p><br><br>
      <%=submit_tag "I'm Ready for Change", name: 'trivia'%>
    <%elsif $choice == "trails"%>
      <p>Your recreation starting location is <span class="nav-value"><%=$location%></span>.</p>
      <p>Start from a new location:
      <%=text_field_tag(:location, nil, :placeholder=> "enter your location") %></p>
      How will you get there? <%=select_tag(:mode, options_for_select($modes))%><br><br>
      <%=submit_tag "I'm Ready for Change", name: 'trails'%>
    <%end%>
    </p>
  </div>
  <%end%>



</div>
