<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Jura:400,700" rel="stylesheet">
    <title>Chronotron</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= include_gon %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="js/main.js"></script>
  </head>
  <body>
    <div class="sidebar">
      <%= render 'layouts/navbar' unless @disable_nav %>
    </div>
    <div class="section">
      <%= yield %>
      <%= content_for :render_async %>
    </div>
  </body>
</html>
