<!DOCTYPE html>
<html>
  <head>
    <title>Chronotron</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="spinner.js"></script>
  </head>

  <body>
    <%= yield %>
    <%= content_for :render_async %>
  </body>
</html>
